   
/*
.logo-name{
    display: flex;
    justify-content: center;
    opacity: 0.8;
    font-size: 150px;
    position: relative;
    background-color: rgb(231, 177, 111);
    margin :auto;
    border-radius:3%;
}*/

.grid{
    width: 100%;
    height:74vh;
    margin-top:  10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
   
.text-grid{
    margin:auto;
    width: 300px;
    height: 400px;
    background-color: rgb(236, 213, 213);
    padding: 30px;
    border: black;
    border-radius: 6px;
    border-width: 3px;
}

.heading-2{
    display: flex;
      justify-content: center;
}
.paragraph{
    text-align: center;
}
.text-grid:hover{
    box-shadow: 3px  black;
    background-color:rgb(230, 219, 219) ;
    size: 2;
    
}
.footer{
    width: 100%;
    display: block;
    
}
